.header {
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #E9E9E9;
	z-index: 1000;
}

.logo {
	font-weight: 600;
	font-size: 26px;
	letter-spacing: 2px;
}

.link {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

.link:hover {
	font-weight: 600;
}

.linkContainer {
	width: 25vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}