.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: auto;
	padding: 60px;
}

.imageMobile {
	max-width: 20%;
}

.background {
	font-size: 2em;
	color: #ffffff;
	background-color: #53a8cf;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}

.image {
	width: 100%;
	max-width: 500px;
	height: auto;
	border-radius: 5px;
	margin: 20px;
	align-items: center;
}

.lightgallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}